/* uncomment to check outlines for all elements
* { outline: 1px solid; }
*/
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	outline: 1px solid black;
}

body {
	font-family: 'ralewayregular', Verdana, sans-serif;
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

/* ========== Header ========== */
header {
    height: 38px;
    padding: 10px 0;
    background-color: #000;
}

.header__logo {
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
}

.highlight__text {
    font-family: 'ralewaybold', Verdana, sans-serif;
    color: #26c7a9;
}

.header__nav {
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.header__nav > ul > li {
    display: inline-block;
		vertical-align: top;
    font-family: 'ralewaybold', Verdana, sans-serif;
    margin-left: 25px;
    color: #FFF;
		position: relative;
		cursor: pointer;
}

.header__nav > ul > li > ul {
	display: none;
	color: #26c7a9;
	padding-top: 15px;
	position: absolute;
	width: 300px;
	cursor: pointer;
}



/* ========== Hero Section ========== */
.hero {
    height: 500px;
    font-size: 0;
    background-color: #fafafa;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(209,208,214,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d6', GradientType=0 );
}

.arrow_left,
.arrow_right {
    width: 5%;
    height: 100%;
    display: inline-block;
    font-size: 69px;
    vertical-align: top;
    padding-top: 15%;
}

.arrow_left span,
.arrow_right span {
    font-family: 'ralewayregular', Verdana, sans-serif;
		cursor: pointer;
}

.arrow_right span {
    margin-left: 20px;
}

.hero__image {
    width: 45%;
    height: 100%;
    display: inline-block;
    background-image: url('../images/black_chair.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
}

.hero__text {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.hero__text h1 {
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25%;
}

.hero__text p {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding: 25px 20px;
    margin: 20px 15px;
}

.highlight__text a {
    margin-left: 25px;
}

.btn__highliht {
    font-size: 21px;
    background-color: #26c7a9;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
}

.hero__link {
    width: 100%;
    height: 45px;
    text-align: center;
}

/* ========== Info Section ========== */
.info {
    height: 350px;
    background-color: #FFF;
    font-size: 0;
    vertical-align: middle;
}

.info__image {
    width: 329px;
    height: 225px;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
    margin: 4% 5% 4% 0;
}

.img01 {
    background-image: url('../images/box1_img.jpg');
}

.img02 {
    background-image: url('../images/box2_img.jpg');
}

.short_hr {
    width: 50%;
    color: #26c7a9;
    border: 2px solid #26c7a9;
    margin: 5px 0 20px 0;
}

.img__text {
    color: #000;
    height: 60px;
    font-size: 14px;
    font-family: 'ralewaybold', Verdana, sans-serif;
    background-color: rgba(256, 256, 256, 0.5);
    margin-top: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

.info__text {
    width: 329px;
    height: 225px;
    border: 1px solid #d3d2d9;
    display: inline-block;
    vertical-align: middle;
    margin: 4% 0 4% 0;
    padding: 25px;
    font-size: 14px;
    line-height: 18px;
}

.info__text h6 {
    font-family: 'ralewaybold', Verdana, sans-serif;
}

.info__text p {
    margin-bottom: 15px;
}


/* ========== Pricing Section ========== */
.pricing {
    height: 720px;
    background-color: #f0f0f0;
}

.section__title {
    font-size: 21px;
    text-transform: uppercase;
    padding-top: 50px;
}

.long_hr {
    width: 32%;
    color: #26c7a9;
    border: 3px solid #26c7a9;
    margin: 5px 0 20px 0;
}

/* ========== Pricing Section - Box ========== */
.pricing__box {
    width: 32%;
    height: 500px;
    border: 1px solid #d3d2d9;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    position: relative;
    background-color: #fafafa;
}

section.pricing > .container > div:nth-child(3) {
  margin-left: 2%;
  margin-right: 2%;
}

.box__header {
    height:50px;
    position:absolute;
    left:0;
    right:0;
    top:-25px;
}

.outer__circle {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d3d2d9;
  margin: 0 auto;
  position: relative;
}

.inner__circle {
  background: #d3d2d9;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: 11px
}

.pricing__name {
  width: 340px;
  position: absolute;
  top: 30px;
  color: #26c7a9;
  text-align: center;
}

.pricing__circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  background: #FFF;
  left: 105px;
  top: 70px;
  border: 1px solid #d3d2d9;
  text-align: center;
  padding-top: 30px;
  font-size: 32px;
  font-family: 'ralewaybold', Verdana, sans-serif;
  color: #d3d2d9;
}

.pricing__options {
  width: 100%;
  position: absolute;
  top: 250px;
  text-align: center;
}

.option__odd,
.option__even {
  height: 45px;
  padding-top: 15px;
}

.option__odd {
  background-color: #d3d2d9;
}

.option__even {
  background-color: #f0f0f0;
}

.pricing__link {
  width: 100%;
  height: 45px;
  text-align: center;
  position: absolute;
  top: 450px;
}

/* ========== Pricing Section - Box Highlighted ========== */
.pricing__box--highlighted {
    width: 340px;
    height: 500px;
    border: 1px solid #26c7a9;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    position: relative;
    background-color: #26c7a9;
}

.pricing__box--highlighted .outer__circle {
  background-color: #26c7a9;
  border: 1px solid #26c7a9;
}

.pricing__box--highlighted .inner__circle {
  background: #FFF;
}

.pricing__box--highlighted .pricing__name {
  color: #FFF;
}

.pricing__box--highlighted .option__odd {
  background-color: #FFF;
}

.pricing__box--highlighted .btn__highliht {
  font-size: 21px;
  background-color: #FFF;
  color: #26c7a9;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 5px;
}

/* ========== Order Section ========== */
.order {
    height: 500px;
    background-color: #f0f0f0;
}

.order form {
	height: 500px;
}

.order form > div {
	width: 31%;
	height: 100%;
	display: inline-block;
	font-size: 0;
  vertical-align: top;
}

.order__details .long_hr,
.order__summary .long_hr {
width: 70%;
margin-bottom: 50px;
}

.order__details select {
  font-size: 21px;
  display: block;
  width: 100%;
  height: 70px;
  font-size: 28px;
  margin-bottom: 20px;
  border: 1px solid #26c7a9;
  box-shadow: 5px 5px 10px #f0f0f0;
  background-color: #FFF;
}

.order__details input[type="checkbox"] {
  width: 50px;
  height: 50px;
  font-size: 21px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 15px;
}

.order__details label {
  width: 285px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-top: 15px;
}

section.order > .container > form > div:nth-child(2) {
  margin-left: 3%;
  margin-right: 3%;
}

.order__img {
	background-image: url('../images/red_chair.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.order__summary .section__title {
  text-align: right;
}

.order__summary .long_hr {
  margin-left: 30%;
}

.order__summary table {
  width: 100%;
  font-size: 21px;
}

.order__summary input[type="submit"] {
  width: 80%;
  margin: 30px 10%;
}



/* ========== Contact Section ========== */
.contact {
  height: 580px;
  background-color: #FFF;
}

.contact form {
  margin-top: 50px;
}

.form__input {
  float: left;
  width: 640px;
  height: 365px;
}

.form__input input {
  width: 640px;
  height: 70px;
  padding-left: 15px;
  font-size: 28px;
  margin-bottom: 19px;
  border: 1px solid #26c7a9;
  box-shadow: 5px 5px 10px #f0f0f0;
}

.form__input textarea {
  width: 640px;
  height: 190px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 28px;
  border: 1px solid #26c7a9;
  box-shadow: 5px 5px 10px #f0f0f0;
}

.form__submit {
  float: right;
  width: 355px;
  height: 365px;
}

.form__submit img {
  padding: 0 45px 25px 45px;
}

.form__submit input[type="checkbox"] {
  width: 50px;
  height: 50px;
  font-size: 21px;
  display: inline-block;
  vertical-align: top;
}

.form__submit label {
  width: 285px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
}

input[type="submit"] {
  width: 355px;
  background-color: #26c7a9;
  border: 0;
  color: #FFF;
  font-size: 26px;
  text-transform: uppercase;
  padding: 15px 0;
  font-family: 'ralewaybold', Verdana, sans-serif;
  margin-top: 15px;
  border-radius: 5px;
}

/* ========== Footer ========== */
footer {
  height: 70px;
  background-color: #FFF;
  color: #808080;
}

.copyrights {
  float: left;
  width: 740px;
}

.social__icons {
  float: left;
}

.footer__logo {
  float: right;
  font-size: 15px;
  text-transform: uppercase;
  font-family:'ralewaybold', Verdana, sans-serif;
}
