body {
	font-family: ralewayregular;
}

header {
    height: 38px;
    padding: 10px 0;
}


* {
    outline: 1px solid;
}


.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

.header__logo {
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}

.highlight__text {
    color: #26c7a9;
}

.header__nav {
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.header__nav li {
    display: inline-block;
}

.hero {
    height: 400px;
    background-color: lightgrey;
}

.arrow_left,
.arrow_right {
    width: 3%;
    height: 100%;
    display: inline-block;
    font-size: 45px;
    vertical-align: top;
    padding-top: 25%;
}

.hero__image {
    width: 47%;
    height: 100%;
    display: inline-block;
}

.hero__text {
    width: 47%;
    height: 100%;
    display: inline-block;
}
